# {{ ansible_managed }}

output {
  if [@metadata][beat] == "filebeat" {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
      template => "/etc/logstash/conf.d/filebeat_tmpl.json"
      template_name => "filebeat"
      template_overwrite => true
    }
  } else {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
      template => "/etc/logstash/conf.d/metricbeat_tmpl.json"
      template_name => "metricbeat"
      template_overwrite => true
    }
  }
}