actions:
  1:
    action: delete_indices
    description: >-
      Delete indices older than {{ curator_retention_count }} {{ curator_retention_unit }} (based on index name), for {{ filebeat_indices_prefix }}
      prefixed indices. Ignore the error if the filter does not result in an
      actionable list of indices (ignore_empty_list) and exit cleanly.
    options:
      ignore_empty_list: True
      disable_action: {{ curator_disable_delete_action }}
    filters:
    - filtertype: pattern
      kind: prefix
      value: {{ filebeat_indices_prefix }}
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: {{ curator_retention_unit }}
      unit_count: {{ curator_retention_count }}